<h1>new</h1>

<form id="event-form">
  <div>
    <label for="title" >Tytuł</label>
    <input name="title" id="title" type="text">
  </div>
  <div>
    <label for="description" >Opis</label>
    <textarea name="description" id="description"></textarea>
  </div>
  <div>
    <label for="organizer">Organizator</label>
    <input name="organizer" id="organizer" type="text">
  </div>
  <div>
    <label for="location">Lokalizacja</label>
    <input name="location" id="location" type="text">
  </div>
  <div>
    <label for="start-date">Data rozpoczęcia</label>
    <input name="start-date" id="start-date" type="date">
  </div>
  <div>
    <label for="end-date">Data rozpoczęcia</label>
    <input name="end-date" id="end-date" type="date">
  </div>
  <div>
    <label for="category">Kategoria</label>
    <select name="category" id="category">
      <option>Kat1</option>
      <option>Kat2</option>
      <option>Kat3</option>
      <option>Kat4</option>
      <option>Kat5</option>
    </select>
  </div>
  <div>
    <button type="submit">Zapisz</button>
  </div>
</form>
